.feliz-aniversario{
    font-family: Poppins, sans-serif;
    font-size: 36px;
    color: #e91e63;
}
    #contador {
  color: #ff4081;          /* cor rosa vibrante */
  font-size: 24px;         /* texto maior */
  font-weight: bold;       /* negrito */
  text-align: center;      /* centralizado */
  margin-top: 20px;        /* espaço em cima */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fonte mais moderna */
  background-color: #ffe6f0; /* fundo rosado claro */
  padding: 10px 20px;      /* espaço interno */
  border-radius: 12px;     /* cantos arredondados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra suave */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;      /* centraliza bloco horizontalmente */
}
body{
 background-color: #40225ae6;
}
p{
  color: #9e4b67;
}
.img-hover {
    width: 300px;
    border-radius: 300px; 
    transition: transform 0.4s ease, box-shadow 0.4s ease;
 
}

.img-hover:hover {
    transform: scale(1.1) rotate(2deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
